@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    color: rgb(240, 240, 240);
}

@layer base {
     :root {
        --background: 0 0% 6.7%;
        --foreground: 0 0% 94.1%;
        --card: 0 0% 14.9%;
        --card-foreground: 0 0% 94.9%;
        --popover: 0 0% 12.2%;
        --popover-foreground: 0 0% 94.9%;
        --primary: 2.9 92% 43.9%;
        --primary-foreground: 0 0% 100%;
        --secondary: 0 0% 20%;
        --secondary-foreground: 0 0% 94.9%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 65.1%;
        --accent: 2.9 92% 43.9%;
        --accent-hover: 2.9 92% 40.9%;
        --accent-foreground: 0 0% 100%;
        --destructive: 2.9 92% 43.9%;
        --destructive-foreground: 0 0% 100%;
        --border: 0 0% 20%;
        --input: 0 0% 20%;
        --ring: 2.9 92% 43.9%;
        --radius: 0.75rem;
        --chart-1: 2.9 92% 43.9%;
        --chart-2: 0 0% 70.2%;
        --chart-3: 0 0% 50.2%;
        --chart-4: 0 0% 30.2%;
        --chart-5: 0 0% 90.2%;
        --preview-background: hsl(var(--background));
        --preview-foreground: hsl(var(--foreground));
        --preview-card: hsl(var(--card));
        --preview-card-foreground: hsl(var(--card-foreground));
        --preview-popover: hsl(var(--popover));
        --preview-popover-foreground: hsl(var(--popover-foreground));
        --preview-primary: hsl(var(--primary));
        --preview-primary-foreground: hsl(var(--primary-foreground));
        --preview-secondary: hsl(var(--secondary));
        --preview-secondary-foreground: hsl(var(--secondary-foreground));
        --preview-muted: hsl(var(--muted));
        --preview-muted-foreground: hsl(var(--muted-foreground));
        --preview-accent: hsl(var(--accent));
        --preview-accent-hover: hsl(var(--accent-hover));
        --preview-accent-foreground: hsl(var(--accent-foreground));
        --preview-destructive: hsl(var(--destructive));
        --preview-destructive-foreground: hsl(var(--destructive-foreground));
        --preview-border: hsl(var(--border));
        --preview-input: hsl(var(--input));
        --preview-ring: hsl(var(--ring));
        --preview-radius: hsl(var(--radius));
        --preview-chart-1: hsl(var(--chart-1));
        --preview-chart-2: hsl(var(--chart-2));
        --preview-chart-3: hsl(var(--chart-3));
        --preview-chart-4: hsl(var(--chart-4));
        --preview-chart-5: hsl(var(--chart-5));
    }
    /* .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 0 0% 95%;
        --card: 24 9.8% 10%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;
        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 346.8 77.2% 49.8%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    } */
}

.dropdown-menu>div[role="menuitem"] {
    cursor: pointer;
}